.banner{
  background-color:lime;
  width:100%;
  height:150px;
  padding-top:75px;

}
.banner-text{
 top:50%;
 left:45%;
 position:absolute;
 transform:transform;

}
.f1{
background-color:aqua;
}
.d3
{
 margin-bottom:50px 
}
.d4{
color:#151B8D;
font-size:25px;
padding-bottom:150px;

}
