.banner{
  background-color:lime;
  width:100%;
  height:150px;
  margin-bottom:50px;

}
.banner-text{
 top:50%;
 left:45%;
 position:absolute;
 transform:transform;

}
.f1{
background-color:aqua;
}
.d3
{
 margin-bottom:50px 
}
.d4{
color:Blue;
font-size:25px;
padding-bottom:25px;

}
